{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="form-group row my-3 p-3">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" action="{% url 'all_posts:add_comment' post_id=post_item.pk %}">
        {% csrf_token %}
        <textarea name="text"></textarea>
        <p><button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'all_posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
        <p>
         {{ comment.text }}
        </p>
      </div>
    </div>
{% endfor %}